<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta property="og:type" content="website"/>
    <link rel="stylesheet" href="/static/css/base.css?5353"/>
    <link rel="stylesheet" href="/static/css/fonts/stylesheet.css?5353"/>
    <link rel="stylesheet" type="text/css" href="/static/lib/slick.css?5353"/>
    <link rel="stylesheet" type="text/css" href="/static/lib/slick-theme.css?5353"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="/static/js/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/slick.min.js?5353"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx7c8ca1a333db4b12a716a65c628b6212"></script>
    <script type="text/javascript">
        function initTmap(){
            var map = new Tmapv2.Map("mapDiv",
                {
                    center: new Tmapv2.LatLng(37.50707331016468,126.98468506336253), // 지도 초기 좌표
                    width: "100%",
                    height: "192px",
                    zoom: 15
                });
            var marker = new Tmapv2.Marker({
                position: new Tmapv2.LatLng(37.50707331016468,126.98468506336253),
                map: map
            });
        }
    </script>
</head>
<body>
    <div class="bread-layer">
        <p class="page-title">저희,결혼합니다</p>
        <img class="page-title-icon" src="/static/img/signature-image.svg">
        <div class="bread-guide">
            <div class="bread-name">
                <span>이용길</span>
                <img class="bread-guide-icon" src="/static/img/paddle.svg"/>
                <span>박소현</span>
            </div>
            <p class="bread-date-with-location">2022년 10월 16일 12시 | 더 리버 벨라쿠치나</p>
        </div>
    </div>
    <div class="who-is-layer">
        <p class="who-is-guide">
            아홉번의 가을을 함께한 영혼의 단짝<br/>
            두사람이 드디어 결혼합니다.<br/>
            <br/>
            결혼이라는 즐거운 항해를 떠나려는<br/>
            두 사람을 위해 부디 참석하여<br/>
            자리를 빛내주세요.
        </p>
        <p class="who-is-detail">
            <span class="parents-name">이동주 ・︎ 이미경</span>
            <span class="house-order">의 장남</span>
            <span class="child-name">이용길</span>
        </p>
        <p class="who-is-detail">
            <span class="parents-name">박상준 ・ ︎김화숙</span>
            <span class="house-order">의 차녀</span>
            <span class="child-name">박소현</span>
        </p>
    </div>
    <div class="our-story-layer-wrapper">

    <div class="our-story-layer">
        <p class="our-story-title">
            <img class="our-story-title-wheel" src="/static/img/wheel-wh.svg">
            <span>우리들의 이야기</span>
            <img class="our-story-title-wheel" src="/static/img/wheel-wh.svg">
        </p>
        <div class="image-slider-box" id="imageSlider">
            <img class="slider-img" src="/static/img/wedding/1.jpg">
            <img class="slider-img" src="/static/img/wedding/2.jpg">
            <img class="slider-img" src="/static/img/wedding/3.jpg">
            <img class="slider-img" src="/static/img/wedding/4.jpg">
            <img class="slider-img" src="/static/img/wedding/5.jpg">
            <img class="slider-img" src="/static/img/wedding/6.jpg">
        </div>
    </div>
    </div>
    <div class="how-to-come-layer">
        <p class="how-to-come-title">
            <img class="how-to-come-title-wheel" src="/static/img/wheel-bk.svg">
            <span>오시는 길</span>
            <img class="how-to-come-title-wheel" src="/static/img/wheel-bk.svg">
        </p>
        <div class="how-to-come-map" id="mapDiv">

        </div>
        <div class="how-to-address">
            <p class="address-title">
                더 리버 벨라쿠치나<br/>
                <span class="address-detail">서울 서초구 반포동 1338</span>
            </p>
            <button class="copy-to-clip" data-address="서울특별시 서초구 반포동 1338">주소복사</button>
        </div>
    </div>
    <div class="how-to-call-layer">
        <p class="how-to-call-title">
            <img class="how-to-call-title-wheel" src="/static/img/wheel-bk.svg">
            <span>신랑 신부에게 연락하기</span>
            <img class="how-to-call-title-wheel" src="/static/img/wheel-bk.svg">
        </p>
        <div class="call-to-h">
            <p class="call-to-info">
                <span class="call-to-guide">신랑</span>
                <span class="call-to-name">이용길</span>
            </p>
            <a class="call-by-cellphone" href="tel:+821037038287"><img src="/static/img/phone.svg"/></a>
            <a class="call-by-mail" href="sms:+821037038287"><img src="/static/img/sns.svg"/></a>
        </div>
        <div class="call-to-w">
            <p class="call-to-info">
                <span class="call-to-guide">신부</span>
                <span class="call-to-name">박소현</span>
            </p>
            <a class="call-by-cellphone" href="tel:+821085913144"><img src="/static/img/phone.svg"/></a>
            <a class="call-by-mail" href="sms:+821085913144"><img src="/static/img/sns.svg"/></a>
        </div>
        <button class="btn-send-heart">신랑 신부에게 마음 전하기</button>
    </div>
    <div class="sorry-layer">
        <p class="sorry-description">
            코로나로 인해<br/>
            많은 분들을 직접 모시지 못하는 점<br/>
            넓은 아량으로 양해 부탁드리며,<br/>
            축복해주시는 마음<br/>
            평생 감사하며 잘 살겠습니다.
        </p>
        <img class="last-lupin" src="/static/img/lupin.svg">
    </div>

<div id="ex1" class="modal modal-full-cover">
  <p class="thanks-to-couple">
      <img class="thanks-to-wheel" src="/static/img/wheel-bk.svg">
      <span>신랑 신부에게 마음 전하기</span>
      <img class="thanks-to-wheel" src="/static/img/wheel-bk.svg">
  </p>
    <div class="man">
        <img src="/static/img/avatar-groom.svg">
        <p class="name"><span>신랑</span>이용길</p>
        <p>카카오 뱅크 3333-01-7814092</p>
        <a href="http://kko.to/k-E7Zg_XF"></a>
    </div>
    <div class="woman">
        <img src="/static/img/avatar-bride.svg">
        <p class="name"><span>신부</span>박소현</p>
        <p>카카오 뱅크 3333-03-8846186</p>
        <a href="http://kko.to/l9w-Vz0fv"></a>
    </div>
    <a href="#" class="close-modal-btn" rel="modal:close"><img src="/static/img/close.svg"></a>
</div>

<script>
    var $thanksModal;
    $(document).ready(function() {
        initTmap();
        $('#imageSlider').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 1,
            variableWidth: true,
            dots: true,
        })
    })
    $(".copy-to-clip").on("click", function() {
        copyToClipboard(this)
        alert("클립보드에 복사 되었습니다.")
    })
    $(".btn-send-heart").on("click", function() {
        $thanksModal = $("#ex1").modal();
    })
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).attr("data-address")).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>
</body>
</html>