html {
  padding: 0;
  margin: 0;
}
* {box-sizing: border-box;}
body {
  padding: 0;
  margin: 0;
  font-family: GangwonEduAll, sans-serif;

  .bread-layer {
    text-align: center;
    background: url("/static/img/layer-1-bg.svg") center 0 repeat;
    color: white;
    height: 640px;
    padding-top: 64px;
    .page-title {
      margin-top: 0;
      font-size: 38px;
      line-height: 51px;
      font-family: PyeongChang, sans-serif;
      margin-bottom: 78px;
    }
    .page-title-icon {
      margin-bottom: 84px;
    }
    .bread-guide {
      .bread-name {
        span {
          font-size: 24px;
          line-height: 32px;
          font-family: PyeongChang, sans-serif;
        }
        .bread-guide-icon {
          vertical-align: top;
          height: 32px;

        }
      }
      .bread-date-with-location {
        margin-top: 4px;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  .who-is-layer {
    text-align: center;
    height: 435px;
    padding-top: 80px;
    background: url("/static/img/layer-2-bg.svg") center 0 repeat;
    .who-is-guide {
      font-size: 18px;
      margin-top: 0;
      line-height: 21px;
      color: #000;
      margin-bottom: 48px;
    }
    .who-is-detail {
      .house-order {
        vertical-align: bottom;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        margin-left: 13px;
        margin-right: 13px;
      }
      .parents-name, .child-name {
        font-size: 18px;
        line-height: 21px;
        color: #000;
        font-weight: 600;
      }
    }
  }
  .our-story-layer-wrapper {
    height: 546px;
    overflow: visible;
    background-color: #0D35B8;
  }
  .our-story-layer {
    text-align: center;
    height: 600px;
    overflow: hidden;
    padding-top: 14px;

    background: url("/static/img/layer-3-bg.svg") center bottom repeat;
    .our-story-title {
      margin-top: 0;
      margin-bottom: 24px;
      span {
        font-size: 16px;
        line-height: 21px;
        font-family: PyeongChang, sans-serif;
        color: white;
      }
      .our-story-title-wheel {
        vertical-align: top;
        width: 20px;
        margin-top: 1px;
      }
    }
    .slider-img {
        border-radius: 32px;
        height: 400px;
        margin-left: 16px;
        margin-right: 16px;
      }
    .image-slider-box {
        height: 400px;
        background: transparent;
      }
    .slick-dots {
      bottom: -45px;
      li {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #fff;
        margin-left: 2px;
        margin-right: 2px;
        &.slick-active {
          background-color: #f77747;
        }
        button {display: none;}
      }
    }

    .our-story-slider{
      width: 100%;
      background: transparent;
      max-height: 400px;
    }
  }

  .how-to-come-layer {
    text-align: center;
    padding-top: 82px;
    padding-left: 32px;
    padding-right: 32px;
    .how-to-come-title {
      margin-bottom: 25px;
      span {
        font-size: 16px;
        line-height: 21px;
        font-family: PyeongChang, sans-serif;
        color: #000;
      }
      .how-to-come-title-wheel {
        vertical-align: top;
        margin-top: 1px;
        width: 20px;
      }
    }
    .how-to-come-map {
      height: 192px;
      width: 100%;
      margin-bottom: 16px;
      border-radius: 32px;
      overflow: hidden;
      *:first-child {
      overflow: hidden;
        border-radius: 32px;
      }
    }
    .how-to-address {
      text-align: left;
      margin-bottom: 30px;
      .address-title {
        margin-top: 0;
        display: inline-block;
        font-family: GangwonEduAll, sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        span.address-detail {
          line-height: 18px;
          font-size: 16px;
          font-weight: 300;
          font-family: GangwonEduAll, sans-serif;
        }
      }
      .copy-to-clip {
        display: inline-block;
        float: right;
        background: #F77747;
        border-radius: 23px;
        padding: 8px 24px 10px;
        font-family: GangwonEduAll, sans-serif;
        color: white;
        font-size: 16px;
        line-height: 16px;
        border: none;
      }
    }
  }
  .how-to-call-layer {
    height: 308px;
    padding-top: 10px;
    text-align: center;
    .how-to-call-title {
      margin-bottom: 53px;
      span {
        font-size: 16px;
        line-height: 21px;
        font-family: PyeongChang, sans-serif;
        color: #000;
      }
      .how-to-call-title-wheel {
        vertical-align: top;
        margin-top: 1px;
        width: 20px;
      }
    }
    .call-to-h {
      margin: 0 auto 27px;
    }
    .call-to-w {
      margin: 0 auto;
    }
    .call-to-h > .call-to-info > .call-to-guide {
      color: #0D35B8;
    }
    .call-to-w > .call-to-info > .call-to-guide {
      color: #F77747;
    }
    .call-to-h, .call-to-w {
      text-align: left;
      width: 210px;
      font-family: GangwonEduAll, sans-serif;
      position: relative;
      .call-to-info {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: top;
        .call-to-guide {
          margin-right: 12px;
        }
        .call-to-name {
          font-size: 18px;
          font-weight: bold;
          line-height: 18px;
        }
      }
      .call-by-cellphone {
        right: 40px;
      }
      .call-by-mail {
        right: 0;
      }
      .call-by-cellphone, .call-by-mail {
        img {
          width: 32px;
          margin-top: -6px;
        }
        top: 0;
        vertical-align: top;
        display: inline-block;
        position: absolute;
      }
    }
    .btn-send-heart {
      border: 1px solid #f77747;
      border-radius: 23px;
      background-color: #fff;
      padding: 6px 24px 10px;
      color: #f77747;
      font-family: GangwonEduAll, sans-serif;
      font-size: 16px;
      line-height: 1;
      margin-top: 54px;
    }
  }

  .sorry-layer {
    text-align: center;
    background: #F1F1F1;
    padding-top: 32px;
    padding-bottom: 24px;
    .sorry-description {
      color: #000;
      font-family: GangwonEduAll, sans-serif;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 34px;
    }
    .last-lupin {
      display: inline-block;
    }
  }
  .jquery-modal.blocker {
    padding: 0;

  }
  .modal-full-cover {
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: relative;
    padding:0;
    background: url("/static/img/layer-4-bg.svg") center bottom no-repeat;
    background-color: #fff;
    .close-modal  {display: none !important;
    }
    .close-modal-btn {
      position: absolute;
      top: 22px;
      right: 22px;
      cursor: pointer;
      img {
        width: 24px;
        height: 24px;
      }
    }
    .man {
      .name > span {
        color: #0D35B8;
      }
    }
    .woman {
      .name > span {
        color: #f77747;
      }
    }
    .man, .woman {
      text-align: center;
      margin-bottom: 42px;
      img {
        width: 70px;
        height: 70px;
        margin-bottom: 16px;
        display: inline-block;
      }
      a {
        width: 54px;
        height: 23px;
        display: inline-block;
        background: url("/static/img/kakaopay.svg");
      }
      .name {
        font-family: GangwonEduAll, sans-serif;
        font-size: 18px;
        margin-bottom: 12px;
        line-height: 21px;
        font-weight: bold;
        span {
          font-weight: 400;
          margin-right: 12px;
        }
      }

    }
    .thanks-to-couple {
      text-align: center;
      margin-bottom: 66px;
      margin-top: 108px;
      span {
        font-size: 16px;
        line-height: 21px;
        font-family: PyeongChang, sans-serif;
        color: #000;
      }
      .thanks-to-wheel {
        vertical-align: top;
        margin-top: 1px;
        width: 20px;
      }
    }
  }
}